{prototype test.layout}
{function title}hello page{/function title}
{function body}
  body of hello page
  {render test._form}
  Hello a is ${a}
  {for (var p in params)}
    ${p} : ${params[p]}
  {forelse}
    no params
  {/for}
{/function body}
