{prototype test.layout}
{function title}hello page{/function title}
{function body}
{eval debugger;}
  body of hello page
  Hello a is ${a.toString()}
  {for (var p in params)}
    ${p} : ${params[p]}
  {forelse}
    no params
  {/for}
{/function body}
