<html>
  <head>
    <title>{function title}default title{/function title}</title>
  </head>
  <body>
  This is start of layout
  {function menu}default layout menu{/function menu}
  {function body}page must do body{/function body}
  </body>
</html>