<html>
<head>
<title>cirrus</title>
<link rel="stylesheet" href="/styles/styles.css" type="text/css" />
<script src="/scripts/jquery-1.4.2.js"></script>
<script src="/scripts/json2.js"></script>
{function head}{/function head}
</head>
<body>
{function menu}
<a href="/">home</a>
{/function menu}
<p>
{function body}page to insert body here{/function body}
</body>
</html>