{prototype default}
{function body}
{if (flash.error) }
<div class="error">${flash.error}</div>
{/if}
<form method="post" action="/login">
  <div class="label">username</div>
  <input type="text" name="username" />
  <div class="label">password</div>
  <input type="password" name="password" />
  <input type="submit" name="login" value="login" />
</form>
{/function body}
